@use'custom';

// IMPORT THE COMPONENTS

@use'components/animations';
@use'components/buttons';
@use'components/mixins';
@use'components/typography';


// IMPORT THE SECTIONS
@use'sections/navbar';
@use'sections/intro-section';
@use'sections/languages';
@use'sections/projects';
@use'sections/footer';