@use '../custom' as *;

.display-2{
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-family: 'PT Sans', sans-serif;
    justify-content: center;

    &--intro{
        display: block;
        font-family: 'PT Sans', sans-serif;

        @include media-breakpoint-up(lg){
            margin-top: 8rem;
        }
    }

    &--description{
        font-size: 1rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
        text-transform: uppercase;

        @include media-breakpoint-up(lg){
            font-size: 1.1rem;
        }

        i{
            font-size: 0.5rem;
            color: $secondary;
        }
    }
}

// HEADING LINE

.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}

.heading-line::after{
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}

// DISPLAY 3

.display-3{
    font-weight: 100;
    font-family: 'PT Sans', sans-serif;

    &--title{
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'PT Sans', sans-serif;
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-up(lg){
            font-size: 1.8rem;
        }
    }
}

// BORDER RIGHT

.border-right{
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}


// GRADIENT BG

.gradient{
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary,0.95));
}

